@font-face {
  font-family: "svgFonts";
  src: url('../fonts/svg-fonts/svgFonts.eot');
  src: url('../fonts/svg-fonts/svgFonts.eot?#iefix') format('eot'),
          url('../fonts/svg-fonts/svgFonts.woff2') format('woff2'),
          url('../fonts/svg-fonts/svgFonts.woff') format('woff'),
          url('../fonts/svg-fonts/svgFonts.ttf') format('truetype'),
          url('../fonts/svg-fonts/svgFonts.svg#svgFonts') format('svg');
}

//Do not replace this styles
[class^="icon-"], [class*=" icon-"] {
  font-family: "svgFonts";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bio:before {
  content: "\E001";
}

.icon-sprout:before {
  content: "\E002";
}

.icon-toys:before {
  content: "\E003";
}
