@font-face {
  font-family: "svgFonts";
  src: url('../fonts/svg-fonts/svgFonts.eot');
  src: url('../fonts/svg-fonts/svgFonts.eot?#iefix') format('eot'),
          url('../fonts/svg-fonts/svgFonts.woff2') format('woff2'),
          url('../fonts/svg-fonts/svgFonts.woff') format('woff'),
          url('../fonts/svg-fonts/svgFonts.ttf') format('truetype'),
          url('../fonts/svg-fonts/svgFonts.svg#svgFonts') format('svg');
}

.icon:before {
  font-family: "svgFonts";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-toys:before {
  content: "\E003";
}
.icon-bio:before {
  content: "\E001";
}

.icon-sprout:before {
  content: "\E002";
}